*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url(nature.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style-type:none;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color:yellow;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255,255,0);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.35s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: yellow;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p{
    margin:20px auto;
    font-weight:100;
    line-height: 25px;
}
button{
    width: 200px;
    margin: 300px 20px;
    transform: translateX(220%);
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid rgb(0,100,0) ;
    background: transparent;
    color: #fff000;
    cursor: pointer;
    position: relative;
    bottom: 50%;
    left: 5%;
    overflow: hidden;
}
span{
    background: rgb(0,100,0);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

html{
    scroll-behavior: smooth;
}

.services{
    background-color: #e9ed80;
    padding: 80px 40px;
    text-align: center;
}

.services h2{
    font-size: 40px;
    margin-bottom: 50px;
    color: #003366;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 260px;
    font-weight: bolder;
    padding: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #003366;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h3{
    margin-bottom: 15px;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.card-img-top{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.about-section{
    background-color: #bfe9ff;
    padding: 80px 40px;
    text-align: center;
}

.about-container{
    max-width: 1100px;
    margin: auto;
    background: #e9f7ff;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-text{
    flex: 1;
}

.about-text h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: #003366;
}

.about-text p{
    font-size: 18px;
    line-height: 1.6;
    color: #003366;
    text-align: justify;
}

.about-image{
    flex: 1;
    text-align: center;
    width: 40px;
}

.about-image img{
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

@media (max-width: 768px){
    .about-container{
        flex-direction: column;
        text-align: center;
    }
}

.simple-section{
    padding: 80px 40px;
    text-align: center;
    background: #111;
    color: rgb(255, 255, 254);
}

.simple-section h2{
    font-size: 35px;
    margin-bottom: 20px;
}
